.App {
  text-align: center;
  /* background-color: #001A4B; */
  margin: 0;
  padding: 1.8rem;
  /* width: 100%; */
  color: #FFFFFF;
  box-sizing: border-box;
}

.row{
  display: flex;
}


.forsmoleshow{
  width: 100%;
  /* float: left; */
  /* height: 100px; */
}
.forsmoleshow3{
  display: none;
}




